* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 3.2em;
  background-color: #471D8E;
  color: white;
  height: 1.5em;
  padding: .5em 0 .3em 0;
}

p {
  font-weight: 700;
  font-size: 2.5em;
  padding: 0.5em 0 0 0;
}

button {
    background-color: #2DCD37;
    display: block;
    margin: auto;
    width: 100%;
    font-size: 2.5em;
    border-radius: 10px 10px 21px 21px;
    padding: 21px;
    color: white;
    box-shadow: 0 0.25em #1C8022;
  }
  button:hover {
    background-color: #27B330;
  }

form {
  background-color: white;
  width: 866px;
  height: 592px;
  margin: auto;
  margin-top: 5em;
}

input {
  width: 91%;
  border-color: #cccccc;
  font-size: 2.5em;
  margin: .7em 0;
  padding: .5em;
  border: 3px solid lightgray;
  border-radius: 10px;
}

fieldset {
  border: none;
  height: 100%;
}

.center-button-form {
  width: 60%;
  margin: auto;
}
